exporters:
  otlphttp:
    compression: zstd
    endpoint: https://us-east-1.aws.edge.axiom.co
    headers:
      authorization: Bearer xaat-7474017e-ddf5-4bd8-a73b-06b576cf22f3
      x-axiom-dataset: macrograph

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers:
        - otlp
      processors:
        - memory_limiter
        - batch
      exporters:
        - otlphttp

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679
